CSPR_CLOUD_API_KEY=your_cspr_cloud_api_key
AGENT_PRIVATE_KEY_PATH=./keys/secret_key.pem
ASSET_REGISTRY_CONTRACT=hash-xxx
AGENT_REGISTRY_CONTRACT=hash-xxx
COMPLIANCE_REGISTRY_CONTRACT=hash-xxx
DEFI_GATE_CONTRACT=hash-xxx
TESTNET_NODE_URL=https://node.testnet.casper.network/rpc